# GRAPHICS
CONFIG_DRM=y

# OVERLAYFS
CONFIG_OVERLAY_FS=y

# UFS
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_SCSI_UFS_QCOM=y

# USB
CONFIG_PHY_QCOM_QMP_COMBO=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_TYPEC=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_USB_SERIAL_OPTION=y

# Networking
CONFIG_IPV6=y

# WiFi / Remoteproc
CONFIG_QCOM_Q6V5_COMMON=y
CONFIG_QCOM_Q6V5_MSS=y
CONFIG_QCOM_SYSMON=y
CONFIG_RPMSG_QCOM_GLINK_SMEM=y
CONFIG_QRTR=y
CONFIG_QRTR_SMD=y
CONFIG_QCOM_PDR_HELPERS=y
CONFIG_RPMSG_CHAR=y
CONFIG_RESET_QCOM_PDC=y

# PPP (for USB LTE modem data connection)
CONFIG_PPP=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_DEFLATE=y
CONFIG_PPP_BSDCOMP=y
CONFIG_PPP_MPPE=y

# I2C
CONFIG_I2C_QCOM_GENI=y

# Power monitoring (INA231)
CONFIG_SENSORS_INA2XX=y
